POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# --- Neo4j Graph DB ---
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=

# --- 외부 API Key ---
OPENAI_API_KEY=
GROQ_API_KEY=

# --- LangSmith 설정 ---
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="streamlit_test"
