POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# --- 외부 API Key ---
OPENAI_API_KEY=
GROQ_API_KEY=

# --- LangSmith 설정 ---
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="streamlit_test"
