# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.ipynb

# Env
.env
.env.*
!.env.example
!.env.sample
env/

venv/
.venv
.streamlit/
.claude/
CLAUDE.md

# neo4j
database/neo4j/neo4j_data
database/neo4j/neo4j_import
database/neo4j/neo4j_logs
database/neo4j/neo4j_plugins