# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.ipynb

# Mac
.DS_Store

# Env
.env
.env.*
!.env.example
!.env.sample
env/

venv/
.venv
.streamlit/
.claude/
CLAUDE.md

# neo4j
database/graph/neo4j/neo4j_data
database/graph/neo4j/neo4j_import
database/graph/neo4j/neo4j_logs
database/graph/neo4j/neo4j_plugins

# data
moves.csv
new_moves.csv