# [Web Framework - Backend]
fastapi
uvicorn
pydantic

# [Database & ORM]
sqlalchemy
psycopg2-binary
pgvector
neo4j==5.28.2
graphdatascience==1.17

# [AI & LLM Orchestration]
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langgraph
tavily-python
langchain-tavily

# [AI Models & API]
openai
groq
cohere
sentence-transformers

# [Frontend - Streamlit]
streamlit
requests
streamlit-cookies-controller

# [Utilities]
python-dotenv
