fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
psycopg2
pgvector

langchain
langchain-core
langchain-openai
langchain-groq
langgraph
tavily-python
python-dotenv
openai
groq
psycopg2  # PostgreSQL 연결


